alembic==1.10.4
fastapi~=0.104.1
psycopg2-binary==2.9.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.2
python-multipart
libgravatar==1.0.4
fastapi-mail
redis
fastapi-limiter==0.1.5
cloudinary==1.32.0
sqlalchemy~=2.0.23
pydantic~=2.4.2
starlette==0.26.1
uvicorn
streamlit~=1.28.1
PyPDF2~=3.0.1
langchain~=0.0.335
faiss-cpu==1.7.4
openai
tiktoken
requests~=2.31.0
pydantic[dotenv]
unstructured
ebooklib
python-pptx
python-docx

PyJWT~=2.8.0
python-dotenv~=1.0.0
docx~=0.2.4